<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>index</title>
</head>

<body>
    <h1>Hi Nigga</h1>
    <h3>Email</h3>
    <a href="https://www.instagram.com/qzwini/">
        <p>{{ contact }}</p>
    </a>
    <h5>My Page</h5>
    {% for i in link%}

    <ul>
        <a href="{{ i }}">
            <li>{{ i }}</li>
        </a>

    </ul>
    {% endfor %}
</body>

</html>