<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">

</head>

<body>
    <h1>Master page Open</h1>
    <br><br><br>
    <hr> {% block contant %} {% endblock %}


    <!-- 
    <h5>My Page</h5>
    {% for i in page %}
    <ul>
        <li>{{i}}</li>
    </ul>
    {% endfor %} -->

    <!-- {% for i in link%}
    <ul>
        <li>hi</li>
        <a href="{{ i }}">
            <li>{{ i }}</li>
        </a>

    </ul>
    {% endfor %} -->
</body>

</html>