{% extends "master.html" %} {% block contant %}
<h3>table -> Sqlite</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    {% for std_id,name,dept in rows %}
    <tr>
        <td style="border: 1px solid black;text-align: center;">{{std_id}}</td>
        <td style="border: 1px solid black;text-align: center;">{{name}}</td>
        <td style="border: 1px solid black;text-align: center;">{{dept}}</td>

    </tr>
    {% endfor %}

</table>


{% endblock %}